@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @apply bg-black;
  @apply box-border;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  animation: fadeIn 1s forwards;
  opacity: 0;
}

.fade-out {
  animation: fade-out 10s;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animation-delay-1 {
  animation-delay: 200ms;
}
.animation-delay-2 {
  animation-delay: 500ms;
}
.animation-delay-3 {
  animation-delay: 700ms;
}
.animation-delay-4 {
  animation-delay: 1000ms;
}
.animation-delay-5 {
  animation-delay: 1200ms;
}
